#!/usr/bin/env bash


# Vim {{{
# Vim Diff
vd()
{
vim -d -- "$1" "$2"
}

# }}}

# Hydra {{{

cloud_hydra() {
	# Connects to cloud hydras. For private use only.

	if [ $# -gt 0 ]; then
		case $1 in
		"1")
			gcloud compute --project "lake-hydra" ssh --zone "us-central1-c" "gcloud-hydra-96"
			;;
		"2")
			gcloud compute --project "lake-hydra" ssh --zone "us-central1-c" "gcloud-hydra-96-2"
			;;
		*)
			echo "[lake/gcloud-hdyra] unrecognized arg $1. Specify server."
			;;
		esac
	else
		echo "[lake/gcloud-hdyra] no arg supplied. Which server?"
	fi
}
# }}}
