[submodule ".emacs.d"]
    path = .emacs.d
    url = https://github.com/hlissner/doom-emacs
    branch = develop
[submodule ".config/doom"]
    path = .config/doom
    url = git@github.com:Vvkmnn/v.doom.d.git
    branch = local
[submodule ".zplug"]
    path = .zplug
    url = git@github.com:zplug/zplug.git
