[submodule ".emacs.d"]
    path = .emacs.d
    url = https://github.com/hlissner/doom-emacs
    branch = develop
[submodule ".config/doom"]
    path = .config/doom
    url = git@github.com:Vvkmnn/v.doom.d.git
    branch = local
[submodule ".neovim"]
	path = .neovim
	url = https://github.com/neovim/neovim
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Vvkmnn/v.nvim.git
[submodule ".alacritty"]
	path = .alacritty
	url = https://github.com/alacritty/alacritty.git
