<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>2</integer>
	<key>Battery_position</key>
	<integer>3</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string></string>
	<key>Bluetooth_label_position</key>
	<integer>0</integer>
	<key>Bluetooth_position</key>
	<integer>4</integer>
	<key>Bluetooth_stack_position</key>
	<integer>1</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>4</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>white</string>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>CPU_line_chart_scale</key>
	<string>none</string>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_pieChart_position</key>
	<integer>3</integer>
	<key>CPU_pie_chart_monochrome</key>
	<false/>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_position</key>
	<integer>5</integer>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<true/>
	<key>Clock_widget</key>
	<string></string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_label_position</key>
	<integer>6</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>4</integer>
	<key>Disk_pieChart_position</key>
	<integer>3</integer>
	<key>Disk_pie_chart_monochrome</key>
	<false/>
	<key>Disk_position</key>
	<integer>6</integer>
	<key>Disk_removable</key>
	<true/>
	<key>Disk_speed_position</key>
	<integer>2</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string>bar_chart</string>
	<key>FAN_bar_chart_color</key>
	<string>monochrome</string>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>4</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_frame</key>
	<true/>
	<key>GPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAABAAAAAQEAAHYAAAAJAAAAAQEAAERv
	d25sb2FkcwAAAAwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAAArQwAAAAAAAAgAAAAE
	AwAAEm8AAAAAAAAIAAAABAMAAEVvAAAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHG1RdMgAAAGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUA
	AAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEBAAAyM0UzNzg5NC1EODEy
	LTQwNjktQkM5RC1GQTYzM0YyNjJGMzIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAA
	AQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAZm53ZAIAAAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAAQAAAAAAA
	AAAFEAAAhAAAAAAAAAAQEAAAqAAAAAAAAABAEAAAmAAAAAAAAAACIAAAbAEAAAAAAAAF
	IAAA7AAAAAAAAAAQIAAA/AAAAAAAAAARIAAAIAEAAAAAAAASIAAAEAEAAAAAAAATIAAA
	mAAAAAAAAAAgIAAATAEAAAAAAAAwIAAAyAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAA4AAAAAAAAAAB0AAAyAAAAAAAAAAQ0AAABAAAAAAAAAAX8AAALAAAAAAA
	AAAi8AAAeAEAAAAAAAA=
	</data>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>505 551 430 163 0 0 1440 898 </string>
	<key>Network_label_position</key>
	<integer>4</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_network_chart_box</key>
	<false/>
	<key>Network_network_chart_downloadColor</key>
	<string>white</string>
	<key>Network_network_chart_frame</key>
	<true/>
	<key>Network_network_chart_historyCount</key>
	<integer>30</integer>
	<key>Network_network_chart_reverseOrder</key>
	<false/>
	<key>Network_network_chart_scale</key>
	<string>linear</string>
	<key>Network_network_chart_uploadColor</key>
	<string>clear</string>
	<key>Network_oneView</key>
	<true/>
	<key>Network_position</key>
	<integer>7</integer>
	<key>Network_publicIPRefreshInterval</key>
	<string>hour</string>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_downloadColor</key>
	<string>white</string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_uploadColor</key>
	<string>white</string>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_speed_valueColor</key>
	<string>default</string>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_text_position</key>
	<integer>3</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>Network_widgetActivationThresholdState</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>monochrome</string>
	<key>RAM_bar_chart_frame</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>5</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>white</string>
	<key>RAM_line_chart_frame</key>
	<true/>
	<key>RAM_line_chart_historyCount</key>
	<integer>30</integer>
	<key>RAM_line_chart_valueColor</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>3</integer>
	<key>RAM_mini_position</key>
	<integer>2</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_position</key>
	<integer>1</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>SSD_bar_chart_box</key>
	<false/>
	<key>SSD_bar_chart_color</key>
	<string>white</string>
	<key>SSD_bar_chart_frame</key>
	<true/>
	<key>SSD_bar_chart_label</key>
	<false/>
	<key>SSD_mini_label</key>
	<true/>
	<key>SSD_network_chart_downloadColor</key>
	<string>black</string>
	<key>SSD_network_chart_frame</key>
	<true/>
	<key>SSD_network_chart_uploadColor</key>
	<string>white</string>
	<key>Sensors_barChart_position</key>
	<integer>1</integer>
	<key>Sensors_fanValue</key>
	<string>rpm</string>
	<key>Sensors_fansSync</key>
	<false/>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>2</integer>
	<key>Sensors_position</key>
	<integer>8</integer>
	<key>Sensors_sensor</key>
	<string>Average CPU</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>dockIcon</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_CPU Power</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<false/>
	<key>sensor_ID0R</key>
	<false/>
	<key>sensor_PCI Power</key>
	<false/>
	<key>sensor_RAM Power</key>
	<false/>
	<key>sensor_TB1T</key>
	<true/>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<false/>
	<key>sensor_Te05</key>
	<false/>
	<key>sensor_Te0L</key>
	<false/>
	<key>sensor_Te0P</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>sensor_VP0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1746756685</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1746759346</integer>
	<key>version</key>
	<string>2.11.42</string>
</dict>
</plist>
