<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.windownavigator</string>
	<key>connections</key>
	<dict>
		<key>0D52831D-BA1B-47E8-B8EF-79E299B70B85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BBF91E8-1799-4C35-A197-949E83C68A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A53810F1-C1E9-459E-A2D6-3FD456A6C996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28603C29-B058-4F8E-89E5-11426E7E600D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B43F255-497B-401B-B504-3D58FA31F2FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4324CC66-57F4-4183-9061-3D94423292FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63520FF1-2CED-4BE2-ABBF-1A68A6B6DB91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A917D000-98BA-4C52-BAB5-77D57FF9E313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</key>
		<array/>
		<key>6AC5C899-2F97-43FC-82CF-DB658EE182BF</key>
		<array/>
		<key>6ADF26CF-C74E-42F5-9267-FBAF87960576</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4324CC66-57F4-4183-9061-3D94423292FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B43F255-497B-401B-B504-3D58FA31F2FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D9AC602-DB20-47A0-9D11-DBA8E4673204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B43F255-497B-401B-B504-3D58FA31F2FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A53810F1-C1E9-459E-A2D6-3FD456A6C996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1493FC39-DC5F-4025-A704-2973E3568CA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D52831D-BA1B-47E8-B8EF-79E299B70B85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A917D000-98BA-4C52-BAB5-77D57FF9E313</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2CF03F0-C85D-43E4-B146-27162DC24E45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE5A51F4-349A-48CC-B99B-C2EB9768A0E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63520FF1-2CED-4BE2-ABBF-1A68A6B6DB91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4F373B5-FF13-496B-9D7B-4273E18BF09E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2145FCD-85DC-4407-BA95-F2C39303B1D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AC5C899-2F97-43FC-82CF-DB658EE182BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Navigate to any window of the currently focused app or any app across all desktops, or switch windows within the current desktop space.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Window Navigator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28603C29-B058-4F8E-89E5-11426E7E600D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key3}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh global "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Navigate to any window of any app over all desktop spaces</string>
				<key>title</key>
				<string>Window Global Navigator</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>reentry_global</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B43F255-497B-401B-B504-3D58FA31F2FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "${alfred_workflow_cache}/force_refresh"
if [[ "${close_in_background:-0}" -eq 1 ]]; then
	
	osascript -e '
	tell application '"\"$app_name\""'
	    close window '"\"$win_name\""'
	end tell'
else
	./src/launch.sh
fi

open -b "com.runningwithcrayons.Alfred" "alfred://runtrigger/com.zeitlings.windownavigator/router/?argument=${reentry_argument}	${directive}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>close_window</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D52831D-BA1B-47E8-B8EF-79E299B70B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "${alfred_workflow_cache}/force_refresh"
osascript -e 'tell application '"\"$app_name\""' to quit'

open -b "com.runningwithcrayons.Alfred" "alfred://runtrigger/com.zeitlings.windownavigator/router/?argument=${reentry_argument}	${directive}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6AC5C899-2F97-43FC-82CF-DB658EE182BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key1}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh navigator "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Navigate to any window of the active app over all desktop spaces</string>
				<key>title</key>
				<string>Window Navigator</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>reentry_navigator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4324CC66-57F4-4183-9061-3D94423292FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string></string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A2CF03F0-C85D-43E4-B146-27162DC24E45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>router</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AE5A51F4-349A-48CC-B99B-C2EB9768A0E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6ADF26CF-C74E-42F5-9267-FBAF87960576</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>63520FF1-2CED-4BE2-ABBF-1A68A6B6DB91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:split1}",
    "config" : {
      "passinputasargument" : true,
      "externaltriggerid" : "{var:split2}",
      "workflowbundleid" : "self",
      "passvariables" : false
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A917D000-98BA-4C52-BAB5-77D57FF9E313</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/launch.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1493FC39-DC5F-4025-A704-2973E3568CA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key2}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh switcher "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Switch to a window open in your current desktop space</string>
				<key>title</key>
				<string>Window Switcher</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>reentry_switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B4F373B5-FF13-496B-9D7B-4273E18BF09E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A53810F1-C1E9-459E-A2D6-3FD456A6C996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>48</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>⇥</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9D9AC602-DB20-47A0-9D11-DBA8E4673204</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![Window Navigator Icon](icon.png)

# Window Navigator

Navigate to any window of the currently focused application or any application across all desktops, or switch windows within the current desktop space.

---

Created by [Patrick Sy](https://github.com/zeitlings) | [More Workflows](https://github.com/zeitlings/alfred-workflows) | [Alfred Forum](https://www.alfredforum.com/topic/21898-window-navigator/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  

---

## Setup

Optionally, configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for quick access.

## Usage

1. Search the windows of the active app globally via the __Navigator__ keyword `ww` 
2. Search app windows in the current desktop space via the __Switcher__ keyword `ws` 
3. Search all visible windows of all apps globally via the __Global__ keyword `wa`


### 1. Navigator

![Keyword for navigator](images/navigator.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to navigate to the selected window.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.

### 2. Switcher

![Keyword for switcher](images/switcher.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to raise the selected window to the foreground.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.

### 3. Global

![Keyword for global](images/global.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to navigate to the selected window.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.</string>
	<key>uidata</key>
	<dict>
		<key>0D52831D-BA1B-47E8-B8EF-79E299B70B85</key>
		<dict>
			<key>note</key>
			<string>Close Window</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>1493FC39-DC5F-4025-A704-2973E3568CA3</key>
		<dict>
			<key>note</key>
			<string>AX Raise</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1BBF91E8-1799-4C35-A197-949E83C68A1A</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>28603C29-B058-4F8E-89E5-11426E7E600D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Window Navigator
Global</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4324CC66-57F4-4183-9061-3D94423292FA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Show all windows of the focused application</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Show windows open in current desktop space</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>63520FF1-2CED-4BE2-ABBF-1A68A6B6DB91</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1255</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</key>
		<dict>
			<key>note</key>
			<string>AX Close</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>6AC5C899-2F97-43FC-82CF-DB658EE182BF</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6ADF26CF-C74E-42F5-9267-FBAF87960576</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Window Navigator
Local</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6B43F255-497B-401B-B504-3D58FA31F2FF</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Show open windows system wide</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>9D9AC602-DB20-47A0-9D11-DBA8E4673204</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>A2CF03F0-C85D-43E4-B146-27162DC24E45</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>1355</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>A53810F1-C1E9-459E-A2D6-3FD456A6C996</key>
		<dict>
			<key>note</key>
			<string>Raise Window</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A917D000-98BA-4C52-BAB5-77D57FF9E313</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>AE5A51F4-349A-48CC-B99B-C2EB9768A0E9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B4F373B5-FF13-496B-9D7B-4273E18BF09E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Window Switcher</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>C2145FCD-85DC-4407-BA95-F2C39303B1D4</key>
		<dict>
			<key>note</key>
			<string>Quit Application</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ww</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Navigator Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ws</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Switcher Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Global Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include the focused window</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_top_win</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Close windows in background</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>close_in_background</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include minimized windows</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_minimized_windows</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Preserve unnamed windows</string>
			</dict>
			<key>description</key>
			<string>Some applications may have valid windows without a name. Check this box if you think a window is missing and the workflow will try to include it.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>preserve_unnamed_windows</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
		<key>cache_lifetime</key>
		<string>27000</string>
		<key>ignored_window_names</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
