<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spongebink.mutediscordv2</string>
	<key>connections</key>
	<dict>
		<key>077EC59A-B69D-402C-B6F3-1B90106B0704</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98F5415C-EB36-4EAD-A724-26A5CF4AB39F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BB50000-C25C-4FA0-9BA5-2CBBE4A144DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64C4997F-C03A-46AC-B313-E29927B0C3BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D3F1766-2061-4012-AD36-BB90705768DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>921DA0AA-2FCE-48E1-8E6B-7956D148AF9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D302BBB-9129-4020-91E5-77E5DF7425B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>434235D5-B716-437F-AFA7-8CBCE4F5BEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41A52D53-13CF-4023-BB47-50909F2E50BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E21BD0C5-6022-4C26-A144-794283EFC27F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>788C7A09-0CBA-4451-851E-11CF52C5B0C0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D3F1766-2061-4012-AD36-BB90705768DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>434235D5-B716-437F-AFA7-8CBCE4F5BEA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE4AF99E-2752-46CA-BFC6-CE91B7EB62F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6198B369-A655-49B2-94FB-73A5D775BD0B</key>
		<array/>
		<key>64C4997F-C03A-46AC-B313-E29927B0C3BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED306F0A-67C6-469F-9128-D5487E4F6E8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BA88F58-F31D-45D5-974E-4ACFDDA73936</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDCE5F58-FF54-4F66-BA77-C7EE7118C0EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76D991E7-B043-4D26-A644-F6320807C608</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>077EC59A-B69D-402C-B6F3-1B90106B0704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>793C32D9-F158-4A5E-845E-159C9A184E8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>434235D5-B716-437F-AFA7-8CBCE4F5BEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>921DA0AA-2FCE-48E1-8E6B-7956D148AF9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD905E48-3FCE-4DBF-8E53-6CE5C6E41EAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93A438F8-88A3-4BAA-9F8D-E8F2E88DC854</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E21BD0C5-6022-4C26-A144-794283EFC27F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98F5415C-EB36-4EAD-A724-26A5CF4AB39F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB576527-D354-4FF4-B376-532FDB00442A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C97D5428-19A7-4ACE-96A0-1F59D917538E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5940FD74-AD1A-428C-B78C-A0A237E48701</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE4AF99E-2752-46CA-BFC6-CE91B7EB62F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41A52D53-13CF-4023-BB47-50909F2E50BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD905E48-3FCE-4DBF-8E53-6CE5C6E41EAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59B52C63-76B9-41A5-848D-06956447ADEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7CAA17AA-0FA8-442E-9E43-89AE4E8F9BB5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>852C1ECF-DA8D-4AFD-B066-60B95BEC707E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB576527-D354-4FF4-B376-532FDB00442A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BA88F58-F31D-45D5-974E-4ACFDDA73936</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDCE5F58-FF54-4F66-BA77-C7EE7118C0EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE70E20E-B4BF-4390-9859-7F8E714045AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2390CAB-1E01-4663-A8FE-3E5179A5AA6B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93A438F8-88A3-4BAA-9F8D-E8F2E88DC854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABDB9882-D3D0-4E19-9F0E-0ED9118F6837</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D302BBB-9129-4020-91E5-77E5DF7425B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE70E20E-B4BF-4390-9859-7F8E714045AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6198B369-A655-49B2-94FB-73A5D775BD0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>07C42A59-91D8-4046-B0FF-A9C9FC747109</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0BB50000-C25C-4FA0-9BA5-2CBBE4A144DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E21BD0C5-6022-4C26-A144-794283EFC27F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7CC0A24-76BD-4A07-8CA0-9D9ED9E5675A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECC91D16-0956-4FB8-82EC-9E304CC8BD6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>077EC59A-B69D-402C-B6F3-1B90106B0704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string>Mute / unmute Discord with a global hotkey without giving the app ‘Input Monitoring’ permission</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mute Discord</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>m</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>6198B369-A655-49B2-94FB-73A5D775BD0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:former_frontmost_app}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Discord</string>
						<key>outputlabel</key>
						<string>is Discord</string>
						<key>uid</key>
						<string>07C42A59-91D8-4046-B0FF-A9C9FC747109</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DE70E20E-B4BF-4390-9859-7F8E714045AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>ED306F0A-67C6-469F-9128-D5487E4F6E8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>m</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>64C4997F-C03A-46AC-B313-E29927B0C3BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>Discord</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0BB50000-C25C-4FA0-9BA5-2CBBE4A144DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>bundle_id</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CB576527-D354-4FF4-B376-532FDB00442A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76D991E7-B043-4D26-A644-F6320807C608</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>Discord</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>93A438F8-88A3-4BAA-9F8D-E8F2E88DC854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:how_to_activate_discord}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>method_a</string>
						<key>outputlabel</key>
						<string>Method A</string>
						<key>uid</key>
						<string>B2390CAB-1E01-4663-A8FE-3E5179A5AA6B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:how_to_activate_discord}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>method_b</string>
						<key>outputlabel</key>
						<string>Method B</string>
						<key>uid</key>
						<string>ABDB9882-D3D0-4E19-9F0E-0ED9118F6837</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Method C</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DDCE5F58-FF54-4F66-BA77-C7EE7118C0EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>former_frontmost_app</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6BA88F58-F31D-45D5-974E-4ACFDDA73936</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_app</key>
					<string>Discord</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.running</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>077EC59A-B69D-402C-B6F3-1B90106B0704</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>is running</string>
						<key>uid</key>
						<string>C97D5428-19A7-4ACE-96A0-1F59D917538E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>98F5415C-EB36-4EAD-A724-26A5CF4AB39F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>{var:former_frontmost_app}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F7CC0A24-76BD-4A07-8CA0-9D9ED9E5675A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>m</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E21BD0C5-6022-4C26-A144-794283EFC27F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:mute_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ECC91D16-0956-4FB8-82EC-9E304CC8BD6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Hotkey ignored</string>
				<key>title</key>
				<string>Discord not running</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5940FD74-AD1A-428C-B78C-A0A237E48701</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>Discord</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>434235D5-B716-437F-AFA7-8CBCE4F5BEA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>AE4AF99E-2752-46CA-BFC6-CE91B7EB62F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Discord</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>788C7A09-0CBA-4451-851E-11CF52C5B0C0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>41A52D53-13CF-4023-BB47-50909F2E50BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>times</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D302BBB-9129-4020-91E5-77E5DF7425B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ Failed to bring Discord to the front!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>59B52C63-76B9-41A5-848D-06956447ADEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>793C32D9-F158-4A5E-845E-159C9A184E8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>5</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7CAA17AA-0FA8-442E-9E43-89AE4E8F9BB5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BD905E48-3FCE-4DBF-8E53-6CE5C6E41EAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>times</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>921DA0AA-2FCE-48E1-8E6B-7956D148AF9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>expression</key>
				<string>{var:times} + 1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.expression</string>
			<key>uid</key>
			<string>1D3F1766-2061-4012-AD36-BB90705768DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>trigger</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>852C1ECF-DA8D-4AFD-B066-60B95BEC707E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Mute Discord for Alfred

Mute Discord with a global hotkey without granting the app ‘Input Monitoring’ permission.

### Usage

Download the workflow from the [release page](../../releases/latest). Double-click the file to install it in Alfred. Choose your preferred hotkey or keyword by editing the ‘Hotkey’ or by [configuring](https://www.alfredapp.com/help/workflows/user-configuration/) a ‘Keyword’, and the workflow is ready to use.

### Controlling How to Activate Discord

If you mute/unmute Discord from a full-screen app, the workflow might fail or won’t switch back to the previous app afterwards. If that happens, choose another method to activate Discord.

**Methods of Activating Discord:**

- **Method A (Yellow):** Switch between apps using the ⌘↹ shortcut. This method could be unstable if the shortcut doesn’t bring Discord up on time.
- **Method B (Blue):** Default method. Switch back to Discord using the Open Apps Automation Task provided by Alfred.
- **Method C (Red):** Similar to Method B, but it tries activating Discord up to 5 times before giving up. This is useful for long switch animations when triggering the workflow in a full-screen app.

### Note

*The Discord macOS app has a default mute hotkey of ⌘⇧M, so you don’t need this workflow to mute Discord.*

*However, to use a global hotkey, you must grant the Discord app input monitoring permissions in System Settings. This permission is required (but is not prompted for) to record your custom hotkey. Worse still, the other default hotkeys become global once the permission is granted and cannot be disabled. I wasn’t comfortable giving Discord that permission just to use a global hotkey, so I created this workflow.*</string>
	<key>uidata</key>
	<dict>
		<key>077EC59A-B69D-402C-B6F3-1B90106B0704</key>
		<dict>
			<key>note</key>
			<string>Is Discord running?</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>0BB50000-C25C-4FA0-9BA5-2CBBE4A144DA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Activate Discord</string>
			<key>xpos</key>
			<real>1505</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>1D3F1766-2061-4012-AD36-BB90705768DD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>'times' +1</string>
			<key>xpos</key>
			<real>2100</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>2D302BBB-9129-4020-91E5-77E5DF7425B9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Init 'time' variable for counting</string>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>41A52D53-13CF-4023-BB47-50909F2E50BF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>If Discord is activated by the ‘Open Apps’ object</string>
			<key>xpos</key>
			<real>1880</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>434235D5-B716-437F-AFA7-8CBCE4F5BEA0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Activate Discord (even if Discord is the frontmost app)</string>
			<key>xpos</key>
			<real>1530</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>5940FD74-AD1A-428C-B78C-A0A237E48701</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>59B52C63-76B9-41A5-848D-06956447ADEA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>2515</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>6198B369-A655-49B2-94FB-73A5D775BD0B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mute Discord</string>
			<key>xpos</key>
			<real>1505</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>64C4997F-C03A-46AC-B313-E29927B0C3BF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mute Discord</string>
			<key>xpos</key>
			<real>1675</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>6BA88F58-F31D-45D5-974E-4ACFDDA73936</key>
		<dict>
			<key>note</key>
			<string>Remember that to switch back to</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>76D991E7-B043-4D26-A644-F6320807C608</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>793C32D9-F158-4A5E-845E-159C9A184E8B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>The do again trigger</string>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>852C1ECF-DA8D-4AFD-B066-60B95BEC707E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Continue</string>
			<key>xpos</key>
			<real>2515</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>921DA0AA-2FCE-48E1-8E6B-7956D148AF9B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Save to 'times'</string>
			<key>xpos</key>
			<real>2235</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>93A438F8-88A3-4BAA-9F8D-E8F2E88DC854</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Activate Discord (even if Discord is the frontmost app)</string>
			<key>xpos</key>
			<real>1570</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>98F5415C-EB36-4EAD-A724-26A5CF4AB39F</key>
		<dict>
			<key>note</key>
			<string>If Discord is not running, ignore hotkey</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>AE4AF99E-2752-46CA-BFC6-CE91B7EB62F6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>1690</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>BD905E48-3FCE-4DBF-8E53-6CE5C6E41EAF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>if 'times' pass x times</string>
			<key>xpos</key>
			<real>2365</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>CB576527-D354-4FF4-B376-532FDB00442A</key>
		<dict>
			<key>note</key>
			<string>What app you were in</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>DDCE5F58-FF54-4F66-BA77-C7EE7118C0EB</key>
		<dict>
			<key>note</key>
			<string>Three methods of activating Discord and swithing back to the previous app</string>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>DE70E20E-B4BF-4390-9859-7F8E714045AA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Is Discord the frontmost app already?</string>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>E21BD0C5-6022-4C26-A144-794283EFC27F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Mute Discord</string>
			<key>xpos</key>
			<real>2060</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>ECC91D16-0956-4FB8-82EC-9E304CC8BD6A</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>ED306F0A-67C6-469F-9128-D5487E4F6E8A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Go back to previous app</string>
			<key>xpos</key>
			<real>1850</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F7CC0A24-76BD-4A07-8CA0-9D9ED9E5675A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Recover former frontmost app (even if Discord was the frontmost app)</string>
			<key>xpos</key>
			<real>2250</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mute</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword you type in Alfred to mute Discord</string>
			<key>label</key>
			<string>Mute Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mute_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>method_b</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Method A (Fastest)</string>
						<string>method_a</string>
					</array>
					<array>
						<string>Method B</string>
						<string>method_b</string>
					</array>
					<array>
						<string>Method C (Most resilient)</string>
						<string>method_c</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Controls how this workflow will activate Discord and switch back to the app you were using. Read more in README</string>
			<key>label</key>
			<string>How to activate Discord</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>how_to_activate_discord</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/alfred-mute-discord</string>
</dict>
</plist>
